name: CI/CD_DEMO

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "Attempting to login to Docker Hub..."
          echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "masthan9" --password-stdin
          echo "Docker Hub login successful!"

      - name: Build the Docker image
        run: |
          echo "Building Docker image..."
          docker build . -f Dockerfile -t masthan9/myapp:sys1.0
          echo "Docker image built successfully!"

      - name: Push the Docker image
        run: |
          echo "Pushing Docker image to Docker Hub..."
          docker push masthan9/myapp:sys1.0
          echo "Docker image pushed successfully!"
